*.sln
*.db
*.vcproj
*.vcxproj
*.filters
*.user
*.png
*.mtl
*.obj
*.mp3
*.wav
*.icon
.vs/
Direct3D11/Direct3D11/.exe
Direct3D11/Direct3D11/.obj
Direct3D11/Direct3D11/Resource
Direct3D11/Direct3D11/Text
Direct3D11/Direct3D11/Direct3D11.PIXExp
Direct3D11/Direct3D11/Direct3D11.vcxproj
Direct3D11/Direct3D11/Direct3D11.vcxproj.user
*.opendb
